* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}

body {
    margin: 0;
    height: 1000px;
    overflow-x: hidden;
    
}

nav {
    background-color: white;
    overflow: hidden;
    position: fixed;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    width: 100%;
    height: 80px;
    margin-top: 0;
    margin-right: 15vh;
    padding-left: 10vh;
    top: 0;
    padding-right: 20px;
    padding-left: 20px;
}

nav .logo {
    color: black;
    float: left;
    font-size: 35px;
    display: block;
    padding: 0;
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-top: -2vh;
}

a {
    color: rgb(39, 38, 38);
    text-decoration: none;
    padding: 0px 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a:hover {
    transition: 0.5s;
    color: rgb(7, 7, 7);
}

.log1 {
    color: rgb(7, 7, 7);
    font-weight: 700;
}

.menu {
    display: flex;
    align-items: center;
}

.container-cart {
    display: flex;
    align-items: center;
}

.container-cart img {
    height: 20px;
}

.imagecar {
    color: rgb(39, 38, 38);
    padding: 0 0 0 5px;
}

#maintop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    background-image: url("https://assets.website-files.com/5ba96977bf120e1b45986c06/5bc26c68ca643a35ff2e403f_scott-webb-268893-unsplash.jpg");
    background-size: cover;
    max-width: 100%;
    padding: 120px 60px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.toptitle {
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: #d77474;
    letter-spacing: 2px;
    padding: 5vh 5vh 0 0;
}

.title {
    font-family: Playfair;
    color: #ac1313;
    font-size: 60px;
}

#maintitle {
    color: rgb(31, 30, 30);
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    flex-direction: row;
    padding: 0 5vh 0 0;
}

span {
    color: #ac1313;
}

p {
    color: #6c6c6c;
    font-family: 'Libre Franklin', sans-serif;
    padding: 0 5vh 5vh 0;
}

button {
    padding: 2vh 3vh;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: white;
    border: solid #ac1313;
    background-color: #ac1313;
    transition: 0.5s;
}

.img-container {
    width: 50%;
    height: auto;
}

.img1 {
    width: 800px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 40px;
    color: white;
    margin-left: -100px;
    margin-bottom: -50px;
}

#section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;

}

#section1 p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #d77474;
    padding: 0;
}

#section1 h2 {
    color: rgb(31, 30, 30);
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    flex-direction: row;
}

.plates {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 30px 0px 50px;
}

.container-text {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container-text .lorem {
    width: 430px;
}

.lorem h4 {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    margin: 0px 0px 10px;
}

.lorem p {
    color: #6c6c6c;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    margin: 20px 0px 10px;
    line-height: 24px;
}

#section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 120px 60px;
}

.lorem2 h3 {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    margin: 0px 0px 10px;
}

.lorem2 p {
    color: #6c6c6c;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    margin: 20px 0px 10px;
    line-height: 24px;
    width: 430px;
}

.lorem2 a {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
}

.lorem2 a:hover {
    text-decoration: underline;
}

#section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 120px 60px;
}

#section3 h2 {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 40px;
    font-weight: 500;
    margin: 0px 0px 10px;
}

#section3 p {
    color: #d77474;
    letter-spacing: 2px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    margin: 20px 0px 10px;
    line-height: 24px;


}

#section3 {
    width: 100%;
    padding: 120px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;

}

#list img {
    width: 320px;
}

#list h4 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    color: #6c6c6c;
    font-weight: 400;
}

#list p {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
}

#section4 {
    width: 100%;
    padding: 120px 60px;
    background-image: url(img/imagem\ 10.jpeg);
    background-size: cover;
 
    background-attachment: fixed;
}

#section4 .text4 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    color: #6c6c6c;
    line-height: 24px;
    margin: 10px 0px;
    width: 400px;
}

#section4 h2 {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 36px;
    font-weight: 500;
}

#section4 .text4 span {
    color: #ac1313;
    font-weight: 600;
    text-decoration: underline;
}

#section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section5 p {
    color: #d77474;
    letter-spacing: 2px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    margin: 20px 0px 10px;
    line-height: 24px;
}

#section5 h1 {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 40px;
    font-weight: 500;
}

#section5 {
    width: 100%;
    padding: 120px 60px;

}

form {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 120px 160px;

}

#section6 h3 {
    font-family: 'Pacifico', cursive;
    color: #000000;
    font-size: 35px;


}

#section6 p {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    color: #6c6c6c;
    padding: 0px;
    margin-bottom: 15px;


}

.end {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#section6 .end figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    text-align: center;

}

#section6 .end img {
    height: 40px
}

.imgfind {
    margin-top: 20px;
}

footer {
    text-align: center;
}

footer p {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    color: #6c6c6c;
}

footer a {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

footer a:hover {
    text-decoration: underline;
    color: #ac1313;
}